# Virtual env
weather/

# Data (ignore dataset contents, keep folder placeholders)
data/*
!data/.gitkeep
!data/raw/
!data/processed/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Models
models/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Secrets
.env
