# -------------------------
# Virtual Environment
# -------------------------
weather/

# -------------------------
# Raw data (ignore)
# -------------------------
data/raw/

# -------------------------
# Processed data (keep)
# -------------------------


# -------------------------
# Models (keep)
# -------------------------


# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# OS
# -------------------------
.DS_Store

# -------------------------
# Secrets
# -------------------------
.env

# -------------------------
# Node / npm
# -------------------------
weather-ml-js/.npm-cache/
